body {
    background: purple;
}

div.main {
    width: 75%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
}

div.picture {
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

div.picture img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

button.share {
    align-self: flex-start;
    border: none;
    background-color: rgba(153, 16, 195, 0.221);
    border-radius: 40%;
}

div.social_icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-flow: row wrap;
}

div.social_icons ul li {
    margin: 0.6rem;
}

div.social_icons ul li a {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-decoration: none;
    background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
    div.picture {
        width: 70%;
    }

    div.picture img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }
}